In [1]:
# libraries
import numpy as np
import pandas as pd
import nltk
from nltk.corpus import stopwords
import string

In [2]:
# read csv
df = pd.read_csv('SMSSpamCollection.txt',delimiter="\t")

df.head(5)

  classe                                            message
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
# shape(numb of rows and col)
df.shape

(5572, 2)

In [4]:
# get col names
df.columns

Index(['classe', 'message'], dtype='object')

In [5]:
# check for duplicates and remove them
df.drop_duplicates(inplace=True)

In [6]:
# show new shape after removing dup
df.shape

(5169, 2)

In [7]:
# show the numb of missing (NAN,NaN,na)data for each column
df.isnull().sum()

classe     0
message    0
dtype: int64

In [8]:
# download the stopword package
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\dexte\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [9]:
def process_text(text):
  #1 remove punctuation
  #2 remove stopwords : useless words
  #3 return a list of clean text words

  #1
  nopunc = [char for char in text if char not in string.punctuation]
  nopunc = ''.join(nopunc)

  #2
  clean_words = [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]

  #3
  return clean_words

In [10]:
# show a list of tokens also called lemmas
df['message'].head().apply(process_text)

0    [Go, jurong, point, crazy, Available, bugis, n...
1                       [Ok, lar, Joking, wif, u, oni]
2    [Free, entry, 2, wkly, comp, win, FA, Cup, fin...
3        [U, dun, say, early, hor, U, c, already, say]
4    [Nah, dont, think, goes, usf, lives, around, t...
Name: message, dtype: object

In [11]:
#Examp1e
message4 ='hello world hello hello world play'
message5 = 'test test test test one hello'
print(message4)
print ()
# Convert the text to a matrix of token counts
from sklearn.feature_extraction.text import CountVectorizer
bow4 = CountVectorizer(analyzer=process_text).fit_transform([[message4],[message5]])
print (bow4)
print()

hello world hello hello world play

  (0, 0)	3
  (0, 4)	2
  (0, 2)	1
  (1, 0)	1
  (1, 3)	4
  (1, 1)	1

In [12]:
# Convert a collection of text to a matrix of tokens
from sklearn.feature_extraction.text import CountVectorizer
message_bow = CountVectorizer(analyzer=process_text).fit_transform(df['message'])

In [13]:
# split the data into 80% training and 20% testing
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(message_bow,df['classe'],test_size=0.20, random_state = 0,stratify=df["classe"])

In [14]:
# get the shape of messages_bow
message_bow.shape

(5169, 11402)

In [16]:
# create and train the naive bayes classifier
from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB().fit(X_train, y_train)